APP_NAME="Auto FB Content Planner"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
CACHE_STORE=file
QUEUE_CONNECTION=sync

PEXELS_API_KEY=

# Facebook Publishing Config
META_GRAPH_VERSION=v25.0
FACEBOOK_PAGE_ID=1179438675246977
FACEBOOK_PAGE_ACCESS_TOKEN=EAAO44LwTrh4BR9qbJDDNACD5FjHVChdP5rJ34mhiO46RPGBpEEKn1Q9XqVoUsQpOgJZCymhrkpXQsGpmpVFZAyKkj6Mn3qQrD1RBZCmaid4Wx5uZAU5rt3wFvZAZCtrmj0tsimc24DDmsSVuwyOzZCZC5AXJvZCResz93AwhaXO6ZAbSvUjYOL3WZCyphZAqv3JB9UJPrIYWxxRCNDtvmZA8TD0AUzDedKjouJxValdWKuEjHzvqxuiZBEMg2zSZB2tsfUBSxq8NVZAoZAMqBTcTdEKdXLIdFAZAQZD
FACEBOOK_PUBLISH_MODE=fake

GEMINI_API_KEY=

PHASE_FACEBOOK_PUBLISHING_ENABLED=true
PHASE_GEMINI_ENABLED=false
